body {

}

/* Hero Section */

.bg-color-navbar {
    color:aliceblue;
    background-color: rgb(34, 34, 34);
}

#hero-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

#hero-image:hover {
    display:contents;
    background-image: url("computer_image.jpg");
}